$border-radius: 20px;
$backgroundColor:#A64253;
$appBackgroundColor:#8EC5FC;
$font:sans-serif;
body {
    background-color: $backgroundColor;
    font-family: $font;
    
  } 
 
*{
 text-align: center;
  color: #fff;
}
@media screen and (min-width: 479px) {
  .app{
    box-sizing: border-box;
    background-color:$appBackgroundColor;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

    position: absolute;
    top: 50%;
    left: 50%;
    
   // height: 80vh;
  //  width: 40vh;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    border-radius: $border-radius;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  }
}


  @media screen and (min-width: 320px){
    .app {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #8EC5FC;
      background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
      /* position: absolute; */
      /* top: 50%; */
      /* left: 50%; */
      /* -webkit-transform: translate(-50%, -50%); */
      /* transform: translate(-50%, -50%); */
      -ms-flex-wrap: wrap;
      /* flex-wrap: wrap; */
      border-radius: 20px;
      -webkit-box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    }
    }
  #top-menu-info{
    font-size: 27px;
  
    line-height: 50px;
    letter-spacing: -1px;
  }


   #temp-div {
    
    
 
    #current-temp-big{
      display: inline-block;
      width: 100%;
      #temp{
      font-size: 100px;
      font-weight: bold;
      }
      #ctbicon{
        position: relative;
      top: -40px;
      left: -5px;
      font-weight: 100;
      font-size: 40px;
      vertical-align: unset;
      }
    }
    #icon-temp{
      
      margin: 0 auto;
      width: 100%;
      font-size: 35px;
    
    }
}
.weatherContent{
 
.atmospher {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 122px;
  margin: 0px auto;
  color: #fff;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.15);


.pressue {display: inline-grid;
  width: 116px;
  height: 72px;
  margin: 0 auto;}
.visiablity{display: inline-grid;
  width: 116px;
  height: 72px;
  margin: 0 auto;}
  .humidity  {
    display: inline-grid;
      width: 116px;
      height: 72px;
      margin: 0 auto;}

      i {
        font-size: 26px;
      }
}


.sun {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 122px;
  margin: 0px auto;
  color: #fff;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.15);

.sunset {display: inline-grid;
  width: 116px;
  height: 72px;
  margin: 0 auto;}
.sunrise{display: inline-grid;
  width: 116px;
  height: 72px;
  margin: 0 auto;}
  .daylight  {
    display: inline-grid;
      width: 116px;
      height: 72px;
      margin: 0 auto;}
      i {
        font-size: 26px;
      }
}   
.wind {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 122px;
  margin: 0px auto;
  color: #fff;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.15);

.chill {display: inline-grid;
  width: 116px;
  height: 72px;
  margin: 0 auto;}
.direction{display: inline-grid;
  width: 116px;
  height: 72px;
  margin: 0 auto;}
  .speed  {
    display: inline-grid;
      width: 116px;
      height: 72px;
      margin: 0 auto;}
      i {
        font-size: 26px;
      }
}   
}

#main{
  display: inline-block;
}
.wi {
  display: inline-block;
    font-family: weathericons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

$darkGrey: #7a7a7a;
$yellow: #fcbe0b;



  /*
  ========================>
  ====== CLOUDS ===========>>
  ========================>
 */
#clouds {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  top: 15%;
  max-width: 100%;
 
  // zoom: 2;
}

.cloud {
  opacity: 0;
  animation-name: cloud-in;
  animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.cloud div {
  position: absolute;
  background-color: #cacccc;
  // border: 1px solid black;
}
  
.clouds div:nth-child(1) {
  position: absolute;
  -moz-transform: scale(0.5);
  top: 20px;
  opacity: 1;
}
  
#lil-cloud {
  top: 20px;
	position: absolute;
  // opacity: 1;
  animation-name: move-cloud;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  
  div {
    background-color: #a5a6a6;
    zoom: 0.5;
  }
}                                         
	
.cloud div:nth-child(1) {
  height: 60px;
  width: 60px;
	border-radius: 50%;
	left: 5px;
	top: 95px;
}
.cloud div:nth-child(2) {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	left: 155px;
	top: 115px;
}
.cloud div:nth-child(3) {
	height: 40px;
	width: 140px;
	left: 35px;
	top: 115px;
}
.cloud div:nth-child(4) {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	left: 35px;
	top: 45px;
}
.cloud div:nth-child(5) {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	left: 120px;
	top: 85px;
}
  

/*
Keyframe Animations..
=======================>>>
*/

/*
========================>
====== CLOUDS ===========>>
========================>
*/


@keyframes cloud-in {
	to {
		opacity : 1;
	}
}
@keyframes move-cloud {
	0% {
		left : calc(100% - 100px);
		opacity : 0;
	}
	10% {
		left : calc(95% - 100px);
		opacity : 1;
	}
	90% {
		left : 5%;
		opacity : 1;
	}
	100% {
		left : 0%;
		opacity : 0;
	}
}

/*
Modifier Classes
=================>>>
*/

.hidden {
  display: none;
}

.swap {
  visibility: hidden;
}